In [63]:
import pandas as pd
import numpy as np

In [64]:
df = pd.read_csv("Telco-Customer-Churn.csv")
df.sample(4)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5831,Female,0,No,No,9,Yes,No,Fiber optic,No,No,No,No,Yes,Yes,Month-to-month,Yes,Bank transfer (automatic),90.80,809.75,Yes
2205,Male,1,No,No,34,Yes,No,Fiber optic,No,Yes,Yes,No,Yes,Yes,One year,Yes,Electronic check,99.85,3343.15,No
1183,Female,0,Yes,No,53,Yes,No,Fiber optic,No,No,No,Yes,Yes,Yes,One year,Yes,Electronic check,93.45,4872.2,No
1,Male,0,No,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No

In [65]:
df.isna().sum() # No null values

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [66]:
df.shape

(7043, 20)

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7043 non-null   object
 19  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(17)
memory usage: 1.1+ MB

In [68]:
df['TotalCharges'] = pd.to_numeric(df.TotalCharges, errors='coerce')

In [69]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 20 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   gender            7043 non-null   object
 1   SeniorCitizen     7043 non-null   int64
 2   Partner           7043 non-null   object
 3   Dependents        7043 non-null   object
 4   tenure            7043 non-null   int64
 5   PhoneService      7043 non-null   object
 6   MultipleLines     7043 non-null   object
 7   InternetService   7043 non-null   object
 8   OnlineSecurity    7043 non-null   object
 9   OnlineBackup      7043 non-null   object
 10  DeviceProtection  7043 non-null   object
 11  TechSupport       7043 non-null   object
 12  StreamingTV       7043 non-null   object
 13  StreamingMovies   7043 non-null   object
 14  Contract          7043 non-null   object
 15  PaperlessBilling  7043 non-null   object
 16  PaymentMethod     7043 non-null   object
 17  MonthlyCharges    7043 non-null   float64
 18  TotalCharges      7032 non-null   float64
 19  Churn             7043 non-null   object
dtypes: float64(2), int64(2), object(16)
memory usage: 1.1+ MB

In [70]:
df.groupby(df['gender']).count()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
gender,,,,,,,,,,,,,,,,,,,
Female,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3488,3483,3488
Male,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3555,3549,3555

In [71]:
df.groupby(df['SeniorCitizen']).count()

,gender,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
SeniorCitizen,,,,,,,,,,,,,,,,,,,
0,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5901,5890,5901
1,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142,1142

In [72]:
df.groupby(df['Partner']).count()

,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
Partner,,,,,,,,,,,,,,,,,,,
No,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3641,3639,3641
Yes,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3402,3393,3402

In [73]:
df['Partner'] = pd.Series(np.where(df.Partner.values == 'Yes',1,0))

In [74]:
df.groupby(df['Dependents']).count()

,gender,SeniorCitizen,Partner,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
Dependents,,,,,,,,,,,,,,,,,,,
No,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933,4933
Yes,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2110,2099,2110

In [75]:
df['Dependents'] = pd.Series(np.where(df.Dependents.values == 'Yes',1,0))

In [76]:
df.groupby(df['Contract']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
Contract,,,,,,,,,,,,,,,,,,,,
Month-to-month,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875,3875
One year,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1473,1472,1473
Two year,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1695,1685,1695

In [77]:
df.groupby(df['PaymentMethod']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,MonthlyCharges,TotalCharges,Churn
PaymentMethod,,,,,,,,,,,,,,,,,,,
Bank transfer (automatic),1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1544,1542,1544
Credit card (automatic),1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1522,1521,1522
Electronic check,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365,2365
Mailed check,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1612,1604,1612

In [78]:
df.groupby(df['PaperlessBilling']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaymentMethod,MonthlyCharges,TotalCharges,Churn
PaperlessBilling,,,,,,,,,,,,,,,,,,,
No,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2872,2864,2872
Yes,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4171,4168,4171

In [79]:
df['PaperlessBilling'] = pd.Series(np.where(df.PaperlessBilling.values == 'Yes',1,0))

### Phone Service and MultipleLines Rectification

In [80]:
df.groupby(df['PhoneService']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
PhoneService,,,,,,,,,,,,,,,,,,,,
No,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,680,682
Yes,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6352,6361

In [81]:
df['PhoneService'] = pd.Series(np.where(df.PhoneService.values == 'Yes',1,0))

In [82]:
df.groupby(df['PhoneService']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
PhoneService,,,,,,,,,,,,,,,,,,,,
0,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,680,682
1,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6361,6352,6361

In [83]:
df.groupby(df['MultipleLines']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
MultipleLines,,,,,,,,,,,,,,,,,,,
No,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3390,3385,3390
No phone service,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,682,680,682
Yes,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2967,2971

In [84]:
df['MultipleLines'] = pd.Series(np.where(df.MultipleLines.values == 'Yes',1,0))

In [85]:
df.groupby(df['MultipleLines']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
MultipleLines,,,,,,,,,,,,,,,,,,,,
0,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4072,4065,4072
1,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2971,2967,2971

### Internet Service and 
* Online Security
* Online Backup
* Device Protection
* TechSupport
* Streaming Movies
* Streaming TV
 ### seems correlated

In [86]:
df.groupby(df['InternetService']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
InternetService,,,,,,,,,,,,,,,,,,,
DSL,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2421,2416,2421
Fiber optic,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096,3096
No,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526

In [87]:
df.groupby(df['OnlineSecurity']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
OnlineSecurity,,,,,,,,,,,,,,,,,,,
No,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3498,3497,3498
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2019,2015,2019

In [88]:
df['OnlineSecurity'] = pd.Series(np.where(df.OnlineSecurity.values == 'Yes',1,0))

In [89]:
df.groupby(df['OnlineBackup']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
OnlineBackup,,,,,,,,,,,,,,,,,,,,
No,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3088,3087,3088
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2429,2425,2429

In [90]:
df['OnlineBackup'] = pd.Series(np.where(df.OnlineBackup.values == 'Yes',1,0))

In [91]:
df.groupby(df['DeviceProtection']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
DeviceProtection,,,,,,,,,,,,,,,,,,,,
No,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3095,3094,3095
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2422,2418,2422

In [92]:
df['DeviceProtection'] = pd.Series(np.where(df.DeviceProtection.values == 'Yes',1,0))

In [93]:
df.groupby(df['TechSupport']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
TechSupport,,,,,,,,,,,,,,,,,,,,
No,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3473,3472,3473
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2044,2040,2044

In [94]:
df['TechSupport'] = pd.Series(np.where(df.TechSupport.values == 'Yes',1,0))

In [95]:
df.groupby(df['StreamingMovies']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
StreamingMovies,,,,,,,,,,,,,,,,,,,,
No,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2785,2781,2785
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2732,2731,2732

In [96]:
df['StreamingMovies'] = pd.Series(np.where(df.StreamingMovies.values == 'Yes',1,0))

In [97]:
df.groupby(df['StreamingTV']).count()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
StreamingTV,,,,,,,,,,,,,,,,,,,,
No,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2810,2809,2810
No internet service,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1526,1520,1526
Yes,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2707,2703,2707

In [98]:
df['StreamingTV'] = pd.Series(np.where(df.StreamingTV.values == 'Yes',1,0))

In [99]:
df.sample(10)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
1809,Male,1,1,0,32,1,1,Fiber optic,0,0,0,0,0,1,Month-to-month,1,Electronic check,85.00,2642.05,Yes
2334,Male,1,1,0,16,1,1,Fiber optic,0,0,0,0,1,0,Month-to-month,1,Credit card (automatic),85.05,1391.15,No
2903,Male,0,1,1,12,0,0,DSL,0,1,0,1,0,0,Month-to-month,0,Mailed check,35.50,432.25,No
146,Male,0,0,0,3,1,0,No,0,0,0,0,0,0,One year,0,Mailed check,19.60,61.35,No
6682,Male,0,1,0,69,1,1,Fiber optic,0,1,0,1,1,0,Two year,1,Mailed check,92.45,6460.55,No
3186,Female,0,1,1,58,1,0,No,0,0,0,0,0,0,Two year,0,Credit card (automatic),20.30,1160.75,No
1070,Female,0,0,0,2,1,0,Fiber optic,0,0,0,0,0,0,Month-to-month,0,Bank transfer (automatic),69.75,144.55,Yes
6975,Female,0,1,1,24,1,1,DSL,1,1,1,0,0,0,Two year,0,Electronic check,64.35,1558.65,No
1911,Female,0,1,1,72,1,1,Fiber optic,1,1,1,1,1,0,Two year,0,Credit card (automatic),106.10,7657.40,No
4473,Female,1,1,0,26,1,1,Fiber optic,0,0,1,0,1,1,Month-to-month,1,Bank transfer (automatic),98.10,2510.70,No

### Encoding

In [100]:
df = pd.get_dummies(df,columns=['gender'],drop_first= True)
df = pd.get_dummies(df,columns=['InternetService'],drop_first= True)
df = pd.get_dummies(df,columns=['PaymentMethod'],drop_first= False)

In [101]:
#df = pd.get_dummies(df,columns=['Contract'],drop_first= True, prefix="contract")
df.sample(5)

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,MonthlyCharges,TotalCharges,Churn,gender_Male,InternetService_Fiber optic,InternetService_No,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
5853,0,1,0,62,1,1,1,1,0,0,...,96.10,6001.45,No,1,1,0,0,0,1,0
2891,0,0,0,1,1,0,0,0,0,0,...,79.70,79.70,Yes,0,1,0,0,0,1,0
5354,0,0,1,1,1,0,0,0,0,0,...,89.35,89.35,No,0,1,0,0,0,1,0
1902,0,1,1,72,1,1,1,1,1,1,...,90.60,6441.85,No,1,0,0,0,1,0,0
1430,0,0,0,23,1,1,0,0,0,0,...,24.80,615.35,No,0,0,1,0,1,0,0

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 24 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   SeniorCitizen                            7043 non-null   int64
 1   Partner                                  7043 non-null   int32
 2   Dependents                               7043 non-null   int32
 3   tenure                                   7043 non-null   int64
 4   PhoneService                             7043 non-null   int32
 5   MultipleLines                            7043 non-null   int32
 6   OnlineSecurity                           7043 non-null   int32
 7   OnlineBackup                             7043 non-null   int32
 8   DeviceProtection                         7043 non-null   int32
 9   TechSupport                              7043 non-null   int32
 10  StreamingTV                              7043 non-null   int32
 11  StreamingMovies                          7043 non-null   int32
 12  Contract                                 7043 non-null   object
 13  PaperlessBilling                         7043 non-null   int32
 14  MonthlyCharges                           7043 non-null   float64
 15  TotalCharges                             7032 non-null   float64
 16  Churn                                    7043 non-null   object
 17  gender_Male                              7043 non-null   uint8
 18  InternetService_Fiber optic              7043 non-null   uint8
 19  InternetService_No                       7043 non-null   uint8
 20  PaymentMethod_Bank transfer (automatic)  7043 non-null   uint8
 21  PaymentMethod_Credit card (automatic)    7043 non-null   uint8
 22  PaymentMethod_Electronic check           7043 non-null   uint8
 23  PaymentMethod_Mailed check               7043 non-null   uint8
dtypes: float64(2), int32(11), int64(2), object(2), uint8(7)
memory usage: 681.0+ KB

In [103]:
#y_df = df.pop("Churn").apply(lambda s: 1 if s == "Yes" else 0)
#y_df

In [104]:
#y_df.dtype

In [105]:
df.groupby("Churn").count()

,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,...,PaperlessBilling,MonthlyCharges,TotalCharges,gender_Male,InternetService_Fiber optic,InternetService_No,PaymentMethod_Bank transfer (automatic),PaymentMethod_Credit card (automatic),PaymentMethod_Electronic check,PaymentMethod_Mailed check
Churn,,,,,,,,,,,,,,,,,,,,,
No,5174,5174,5174,5174,5174,5174,5174,5174,5174,5174,...,5174,5174,5163,5174,5174,5174,5174,5174,5174,5174
Yes,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869,...,1869,1869,1869,1869,1869,1869,1869,1869,1869,1869